<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>{{ page.title | site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="{{ page.summary | page.title | site.description }}"/>

    <meta property="og:type" content="{% if page.title %}artitle{% endif %}"/>
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"/>
    <meta property="og:title" content="{{ page.title }}"/>
    <meta property="og:description" content="{{ page.summary }}"/>
    <meta property="og:image" content="{{ page.og_image | prepend: site.baseurl | prepend: site.url }}"/>
    <meta property="og:image_source" content="{{ page.og_image_source }}"/>

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"/>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}"/>

</head>
